button {
    width: 250px;
    height: 80px;
    font-size: 25px;
    color: rgb(255, 255, 255);
    border: 2px solid white;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #09f3f3;
    color: black;
  }
  
  .botonClick {
    background-color: #0600ad;
  }
  
  .botonReiniciar {
    background-color: #a70107;
  }